body {
	background: #66A5FF;
	font-family: 'Varela Round';
	font-size: 100%;
}
::selection { background: #66A5FF; color: #fff; }

.pen {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 500px;
	height: 60px;
	border-radius: 3px;
	text-indent: 80px;
	color: #fff;
	font-weight: bolder;
	line-height: 35px;
	transition: all .2s ease;
	span {
		position: absolute;
		top: 25px;
		left: 0;
		a {
			text-decoration: none;
			color: rgba(255,255,255,.6);
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&:before {
		content: '\f1a7';
		position: absolute;
		top: 0px;
		left: 0px;
		width: 60px;
		height: 60px;
		font-family: 'Ionicons';
		line-height: 60px;
		text-indent: 0px;
		color: #66A5FF;
		font-size: 250%;
		text-align: center;
		background: #fff;
		border-radius: 3px;
		transition: all .2s ease;
	}
}

.randstring {
	position: fixed;
	top: calc( 50vh - 50px);
	left: calc( 50vw - 200px);
	width: 400px;
	height: 100px;
	background: none;
	border: none;
	outline: none;
	line-height: 100px;
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
	color: rgba(255,255,255,.65);
}

.reload {
	position: fixed;
	top: calc( 50vh + 70px);
	left: calc( 50vw - 75px);
	width: 150px;
	height: 40px;
	border: none;
	background: rgba(255,255,255,.15);
	border-radius: 5px;
	outline: none;
	line-height: 40px;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	color: rgba(255,255,255,.65);
	z-index: 10;
	cursor: pointer;
	transition: background .1s ease;
}

a{
	color: rgba(255,255,255,.6);
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}